[Unit]
Description=Run Raisensu Monitor every 720m (12h)
Requires=raisensu_monitor.service
[Timer]
Unit=raisensu_monitor.service
OnUnitInactiveSec=15m
AccuracySec=1s
[Install]
WantedBy=timers.target
